
.AppTitle {
  margin: 10px;
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px black;
  color: gold;
}

.gameBoard {
  display: flex;
  justify-content: space-between;
}

.nobleSelectionModal,
.playerDiscardModal,
.playerReservedCardsModal,
.reserveCardModal,
.turnModal {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: white;
  right: 0;
  bottom: 50px;
  padding: 10px;
  border: 1px solid black;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  z-index: 9;
}

.turnModal .tokensToBuyBox {
  display: flex;
  padding: 10px;
}

.turnModal .tokensToBuyBox .tokenToBuy {
  margin: 5px;
}

.turnModal .tokensToBuyBox .tokenToBuy .gemToken {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
}

.playerList {
  display: flex;
  flex-direction: column;
}

.playerList .playerHand {
  border: 1px solid;
  margin: 10px 10px 10px 0;
  padding: 10px;
  background-color: white;
  font-size: 14px;
  font-family: sans-serif;
}

.playerList .playerHand.currentPlayer {
  background-color: #9ecbf9;
}

.playerList .playerGemAndCards {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.playerList .playerGemAndCards .cardCount {
    size: 1em;
    font-weight: bold;
    float: left;
    bottom: 10px;
    margin: 0px;
    border: 1px solid;
    padding: 5px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    box-sizing: content-box;
}

.playerList .playerGemAndCards .gemToken {
  margin: 0;
}

.playerList .playerGemAndCardsBox {
  width: 200px;
  display: flex;
  flex-flow: wrap;
}

.gameBoard {
  display: flex;
  flex-direction: row;
}

.gameBoard .cardGallery {
  flex-direction: column-reverse;
  display: flex;
  flex-wrap: nowrap;
  align-self: flex-start;
}

.gameBoard .gemStack {
  display: flex;
  flex-direction: column;
}

.gameBoard .gemStack .gemToken {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
}

.playerDiscardModal .gemToken,
.gemStack .gemToken {
    cursor: pointer;
}

.card {
  width: 120px;
  height: 160px;
  border: 1px black solid;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
  position: relative;
  cursor: pointer;
  background-color: white;
}

.card.card-affordable {
  box-shadow: 0px 0px 6px 6px #2b93ff;
}

.card.card-affordable-later {
  box-shadow: 0px 0px 6px 6px #34fb96;
}

.card .points {
  size: 1em;
  font-weight: bold;
  float: left;
  margin: 10px;
}

.card .costBox {
  position: absolute;
  left: 0;
  bottom: 0;
}

.playerHand .heading {
  display: flex;
  margin: 5px;
}

.playerHand .heading .playerName {
  flex-grow: 4;
}

.playerHand .heading .playerPoints {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
}

.playerDiscardModal .gemToken,
.tokensToBuyBox .gemToken,
.playerHand .gemToken,
.gemStack .gemToken,
.card .costBox .cost {
  size: 1em;
  font-weight: bold;
  float: left;
  bottom: 10px;
  margin: 10px;
  border: 1px solid;
  padding: 5px;
  border-radius: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  box-sizing: content-box;
}

.cardCount.color-red,
.gemToken.color-red,
.cost.color-red,
.card .costBox .cost.color-red {
  background-color: red;
  border: 1px solid red;
}

.cardCount.color-green,
.gemToken.color-green,
.cost.color-green,
.card .costBox .cost.color-green {
  background-color: green;
  border: 1px solid green;
}

.cardCount.color-blue,
.gemToken.color-blue,
.cost.color-blue,
.card .costBox .cost.color-blue {
  background-color: blue;
  border: 1px solid blue;
  color: white;
}

.cardCount.color-white,
.gemToken.color-white,
.cost.color-white,
.card .costBox .cost.color-white {
  background-color: white;
  border: 1px solid black;
}

.cardCount.color-black,
.gemToken.color-black,
.cost.color-black,
.card .costBox .cost.color-black {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.cardCount.color-gold,
.gemToken.color-gold,
.cost.color-gold,
.card .costBox .cost.color-gold {
  background-color: gold;
  border: 1px solid gold;
  color: black;
}

.card .gem {
  border: 1px solid black;
  float: right;
  height: 15px;
  width: 15px;
  margin: 10px;
}

.card .gem.gem-red {
  background-color: red;
}

.card .gem.gem-green {
  background-color: green;
}

.card .gem.gem-blue {
  background-color: blue;
}

.card .gem.gem-white {
  background-color: white;
}

.card .gem.gem-black {
  background-color: black;
}

.noblesBox {
  display: flex;
  flex-direction: column;
}

.nobleSelectionModal .nobleCard,
.noblesBox .nobleCard {
  position: relative;
  height: 100px;
  width: 100px;
  border:1px solid black;
  margin: 10px;
  background-color: white;
}

.nobleSelectionModal .nobleCard {
  cursor: pointer;
}

.nobleSelectionModal .nobleCard .cost,
.noblesBox .nobleCard .cost {
  width: 1em;
  text-align: center;
  margin: 5px;
  border: 1px solid;
}

.nobleSelectionModal .nobleCard .points,
.noblesBox .nobleCard .points {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px;
}

.playerSelectionScreen {
  text-align: center;
}

.playerSelectionScreen .playerSlots {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.playerSlot {
  width: 200px;
  height: 200px;
  border: 1px solid;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.8em;
}

.playerImg {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid;
  background: white;
}

.startButton {
  color: gold;
  margin: 20px;
  font-size: 1.8em;
  cursor: pointer;
}

.startButton:hover {
  color: #d4d1c4;
}
